.la-vz-circular-viewer {
  font-family: Roboto Mono, Monaco, monospace;
  margin: auto;
  font-size: 13px;
  font-weight: 400;
}

.la-vz-circular-index {
  font-weight: 500;
}

.la-vz-circular-bps {
  cursor: text;
}
