div,
input,
label,
button {
  font-family: Roboto Mono, Monaco, monospace !important;
  font-size: 1.1rem !important;
}

#sidebar-container {
  min-height: 100vh;
}

.sidebar-container {
  min-height: 100vh;
}

.sidebar-header {
  height: 64px;
  padding: 8px 16px;
  margin: auto 0;
  box-shadow: 0 2px 8px #f0f1f2;
  display: flex;
  justify-content: space-between;
}

.sidebar-header h3 {
  margin: auto 0 !important;
}

.sidebar .slider {
  width: 100%;
}

.circular-button#sidebar-toggle-close {
  margin: auto 0;
  border: none;
  background: white;
}

.circular-button#sidebar-toggle-close:hover {
  background: #f2f2f2;
}

.seqviz-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-width: 1024px;
}

#seqviewer {
  /* height is 100% of the viewport height less the header height */
  height: calc(100% - 64px);
  width: 100%;
  margin: 0px;
  flex: 1 1 0;
}

#selection-name {
  font-weight: bold;
  font-style: italic;
}

#selection-type {
  font-style: italic;
}

#selection-label {
  font-weight: bold;
}

#selection-name,
#selection-type,
#selection-length,
#selection-range,
#sequence-gc,
#sequence-tm {
  padding: 5px;
}

#selection-label {
  padding: 5px 0px 5px 5px;
}

.sidebar-footer {
  width: 100%;
  max-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 8px;
}

#lattice-brand {
  height: 64px;
  margin: 0 auto 8px auto;
}

.sidebar-footer p {
  font-size: 0.8em !important;
  margin-bottom: 8px;
}

.sidebar-footer span {
  font-weight: bold;
}
