.SeqViewer-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2 !important;
  .noSeq {
    position: relative;
    height: 100%;
    left: 5px;
  }
}

.SeqViewer-eventRouter {
  position: absolute;
  outline: none;
  height: 100%;
  width: inherit;
}
