// the dropdown trigger (wraps a button or something)
.dropdown-button-container {
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 0px;
}

// a dropdown (nested or not.. unknown beforehand)
.dropdown {
  position: absolute;
  padding: 7px 0px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  color: #606060;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  width: fit-content;
  white-space: nowrap;
  .nested-button {
    display: flex;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: transparent;
  }
  .dropdown-item {
    padding: 10px 15px;
    height: 40px;
    border: none;
    text-align: left;
    outline: none;
    background-color: transparent;
    &:hover {
      cursor: pointer;
      background-color: #dedede;
    }
    button {
      width: 100%;
      padding-left: 0;
      border: none;
      text-align: left;
      outline: none;
      background-color: transparent;
    }
    > input {
      margin-right: 10px;
    }
    > label {
      width: auto;
      margin: auto auto auto 0;
    }
  }
  .dropdown-label {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
}
