#la-vz-linear-scroller {
  height: 100%;

  outline: none !important;
  position: relative;
  font-weight: 300;
  padding: 10px;
  overflow-x: hidden; // prevents unexpected horizontal scroll
  overflow-y: scroll;
  cursor: text;

  #la-vz-seqblock-container {
    width: 100%; // this will pass the width down to the seqblocks for them to inherit correctly
  }

  .la-vz-seq-block {
    width: 100%;
    padding: 0;
    overflow: visible;
  }
}

.la-vz-cut-site-text {
  font-family: "Roboto", sans-serif;
}

.la-vz-linear-sel-block {
  fill: #def6ff;
}

#la-vz-linear-scroller.scroll::-webkit-scrollbar {
  width: 8px;
}

#la-vz-linear-scroller.scroll::-webkit-scrollbar-thumb {
  background-color: #b7b9bd;
  border-color: #b7b9bd;
  border-radius: 5px;
}

#la-vz-linear-scroller.scroll::-webkit-scrollbar-track {
  background: transparent;
  border-color: transparent;
}

#la-vz-linear-scroller.scroll::-webkit-scrollbar-track-piece {
  background-color: #f7f7f7;
  border-color: transparent;
}
