.la-vz-viewer-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2 !important;

  .la-vz-no-seq {
    position: relative;
    height: 100%;
    left: 5px;
  }
}

.la-vz-viewer-event-router {
  position: absolute;
  outline: none;
  height: 100%;
  width: inherit;
}
