body {
  min-width: 1000px; /* minimum width of 1000px */
  width: auto !important; /* Firefox will set width as auto */
  width: 1000px; /* As IE6 ignores !important it will set width as 1000px; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div,
input,
label,
button {
  font-family: Roboto Mono, Monaco, monospace;
  font-size: 1.1rem;
}

h1 {
  font-family: Roboto Mono, Monaco, monospace;
}

.ui.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: 100%;
}

.sidebar-container {
  min-width: 1024px;
}

#options-sidebar {
  width: 320px;
}

.sidebar-header {
  height: 64px;
  padding: 8px 16px;
  margin: auto 0;
  box-shadow: 0 2px 8px #f0f1f2;
  display: flex;
  justify-content: space-between;
}

.sidebar-header h3 {
  margin: auto 0 !important;
}

.sidebar-header #header-left {
  display: flex;
}

.sidebar .slider {
  width: 100%;
}

.circular-button#sidebar-toggle-close {
  margin: auto 0;
  border: none;
  background: white;
}

.circular-button#sidebar-toggle-close:hover {
  background: #f2f2f2;
}

#seqviz-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#seqviewer {
  /* height is 100% of the viewport height less the header height */
  height: calc(100% - 64px);
  width: 100%;
  margin: 0px;
  flex: 1 1 0;
}

#selection-name {
  font-weight: bold;
  font-style: italic;
}

#selection-type {
  font-style: italic;
}

#selection-label {
  font-weight: bold;
}

#selection-name,
#selection-type,
#selection-length,
#selection-range,
#sequence-gc,
#sequence-tm {
  padding: 5px;
}

#selection-label {
  padding: 5px 0px 5px 5px;
}

.sidebar-footer {
  width: 100%;
  max-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 8px;
}

#lattice-brand {
  height: 64px;
  margin: 0 auto 8px auto;
}

.sidebar-footer p {
  font-size: 0.8em !important;
  margin-bottom: 8px;
}

.sidebar-footer span {
  font-weight: bold;
}

#landing-zone {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 500px;
  margin: auto;
  padding: 16px;
  position: relative;
  box-shadow: 0 3px 6px rgba(124, 124, 124, 0.16), 0 3px 6px rgba(124, 124, 124, 0.23);
}

#getting-started-card {
  text-align: center;
  height: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#landing-card {
  margin-bottom: 1rem;
}

#lattice-card {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  /* justify-content: space-between; */
}

#lattice-card div {
  margin: auto;
}

#seqviz-brand-getting-started {
  padding: 12px 24px;
  margin: auto;
}

#starting-instructions {
  padding: 16px;
  margin-bottom: 24px;
  text-align: center;
}

#easy-start {
  padding: 16px;
  margin-top: 24px;
  text-align: center;
}

#default-part-button {
  margin-right: 12px;
  padding: 10px 12px;
  width: 80px;
  color: white;
  background: #14b7db;
  border-radius: 0.25rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(124, 124, 124, 0.12), 0 1px 2px rgba(124, 124, 124, 0.24);
}

.option {
  display: flex;
}

.option span {
  margin: auto 8px auto 0;
}

#options-search span {
  width: 80px;
}

#options-search input {
  width: 100%;
}

#seqviz-graphic {
  height: 36px;
  margin: auto 16px auto 0;
}

#enzyme-grid {
  margin-left: 10px;
  padding: 5px;
  justify-items: center;
  align-items: center;
}

#enzyme-grid .enzyme-grid-column {
  margin: 0px;
  padding: 5px;
}

#enzyme-grid .enzyme-grid-row {
  margin: 0px;
  padding: 0px;
}

#enzyme-grid .enzyme-button {
  padding: 10px;
}

.part-input {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  margin: auto;
  padding: 0 16px 0 16px !important;
}

.part-input input {
  height: 48px;
  width: 180px;
  box-shadow: none !important;
  border: none !important;
}

input#part-input {
  padding-right: 1.5em !important;
}

.part-input input:focus,
.part-input:focus-within {
  background-color: #f7f7f7 !important;
  border-right: 1px solid #14b7db;
  border-left: 1px solid #14b7db;
}

#part-input:-internal-autofill-selected,
#part-input:-webkit-autofill,
#part-input:-webkit-autofill:hover,
#part-input:-webkit-autofill:focus,
#part-input:-webkit-autofill:active {
  background-color: #f7f7f7 !important;
  border-right: 1px solid #14b7db;
  border-left: 1px solid #14b7db;
}

.part-input button {
  background-color: white !important;
}

/* Github logo */
#github-link {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  padding: 0 15px;
  color: black;
  height: 100%;
  display: flex;
}

#github-link i {
  margin: auto;
}

/* New new */
#header-primary {
  height: 64px;
  padding: 8px 16px;
  margin: auto 0;
  box-shadow: 0 2px 8px #f0f1f2;
  width: 100%;
  min-width: 1024px;
  display: flex;
  vertical-align: middle;
}

#header-primary #brand {
  height: 48px;
  padding: 0 0 0 16px;
  margin: auto;
  cursor: pointer;
}

#header-primary .label {
  background: transparent;
  border-radius: 0.25rem !important;
  margin: auto !important;
  padding: 10px 12px !important;
  text-transform: uppercase;
}

.circular-button#sidebar-toggle-open {
  margin: auto 16px auto 0;
  border: none;
  background: white;
}

.circular-button#sidebar-toggle-open:hover {
  background: #f2f2f2;
}

.popup-tooltip {
  padding: 4px 8px !important;
}

.backbone-picker {
  height: 48px;
  margin: auto;
  padding: 0 16px;
  vertical-align: middle;
  display: flex;
  justify-content: flex-start;
  margin-right: -1px;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}

.backbone-picker #backbone-dropdown {
  margin: auto 0;
  padding-left: 16px;
  width: 150px;
}

.backbone-picker .ui.dropdown .menu > .item {
  width: 150px !important;
}

.backbone-picker #backbone-dropdown .text {
  color: rgba(0, 0, 0, 0.87);
}

.backbone-picker #dropdown:focus,
.backbone-picker:focus-within {
  /* z-index brings on focus allows for the border to show above the part input */
  z-index: 1000;
  background-color: #f7f7f7 !important;
  border-right: 1px solid #14b7db;
  border-left: 1px solid #14b7db;
}

#backbone-dropdown .icon {
  cursor: pointer;
}

.meta-toggle {
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin: auto 0 !important;
  vertical-align: middle;
  flex: 1;
}

#meta-button {
  margin: 0;
  padding: 10px 12px;
  width: 120px;
  background: #f0f0f0;
  border-radius: 0.25rem;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(124, 124, 124, 0.12), 0 1px 2px rgba(124, 124, 124, 0.24);
}
#meta-button:hover {
  background: #e0e0e0 !important;
}

#meta-button.active:hover {
  background: #11a3c4 !important;
}

#meta-button.active {
  background-color: #14b7db !important;
  color: white !important;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  box-shadow: 0 1px 3px rgba(124, 124, 124, 0.12), 0 1px 2px rgba(124, 124, 124, 0.24) !important;
}

#header-meta {
  max-width: 100%;
  height: 24px;
  margin: 8px 0 0 0;
  padding: 0 16px 0 16px;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 8px #f0f1f2;
  position: absolute;
  width: calc(50% - 20px);
  left: 10px;
}

.label-bar {
  height: 24px;
  width: 100%;
}

.selection-meta {
  height: 24px;
  width: 100%;
  display: flex;
}

.meta-datum {
  display: flex;
  margin: auto 0;
  padding: 0 8px;
  font-size: 0.8em !important;
}

.meta-datum:not(:last-child) {
  border-right: 1px solid #f0f0f0;
}

.meta-datum#feature-name {
  max-width: 400px;
}
.meta-datum#feature-type {
  max-width: 200px;
}

.meta-datum:hover {
  background-color: rgb(255, 251, 196);
}

.meta-datum p {
  margin-bottom: 0;
}

.meta-datum #field {
  margin-right: 8px;
  font-weight: bold;
}

.meta-datum #value {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
