.part-input {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  margin: auto;
  padding: 0 16px 0 16px !important;
}

.part-input input {
  height: 48px;
  width: 180px;
  box-shadow: none !important;
  border: none !important;
}

input#part-input {
  padding-right: 1.5em !important;
}

.part-input input:focus,
.part-input:focus-within {
  background-color: #f7f7f7 !important;
  border-right: 1px solid #14b7db;
  border-left: 1px solid #14b7db;
}

#part-input:-internal-autofill-selected,
#part-input:-webkit-autofill,
#part-input:-webkit-autofill:hover,
#part-input:-webkit-autofill:focus,
#part-input:-webkit-autofill:active {
  background-color: #f7f7f7 !important;
  border-right: 1px solid #14b7db;
  border-left: 1px solid #14b7db;
}

.part-input button {
  background-color: white !important;
}

/* Github logo */
#github-link {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  padding: 0 15px;
  color: black;
  height: 100%;
  display: flex;
}

#github-link i {
  margin: auto;
}

/* New new */
#header-primary {
  height: 64px;
  padding: 8px 16px;
  margin: auto 0;
  box-shadow: 0 2px 8px #f0f1f2;
  width: 100%;
  min-width: 1024px;
  display: flex;
  vertical-align: middle;
}

#header-primary #brand {
  height: 48px;
  padding: 0 0 0 16px;
  margin: auto;
  cursor: pointer;
}

#header-primary .label {
  background: transparent;
  border-radius: 0.25rem !important;
  margin: auto !important;
  padding: 10px 12px !important;
  text-transform: uppercase;
}

.circular-button#sidebar-toggle-open {
  margin: auto 16px auto 0;
  border: none;
  background: white;
}

.circular-button#sidebar-toggle-open:hover {
  background: #f2f2f2;
}

.popup-tooltip {
  padding: 4px 8px !important;
}

.backbone-picker {
  height: 48px;
  margin: auto;
  padding: 0 16px;
  vertical-align: middle;
  display: flex;
  justify-content: flex-start;
  margin-right: -1px;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}

.backbone-picker #backbone-dropdown {
  margin: auto 0;
  padding-left: 16px;
  width: 150px;
}

.backbone-picker .ui.dropdown .menu > .item {
  width: 150px !important;
}

.backbone-picker #backbone-dropdown .text {
  color: rgba(0, 0, 0, 0.87);
}

.backbone-picker #dropdown:focus,
.backbone-picker:focus-within {
  /* z-index brings on focus allows for the border to show above the part input */
  z-index: 1000;
  background-color: #f7f7f7 !important;
  border-right: 1px solid #14b7db;
  border-left: 1px solid #14b7db;
}

#backbone-dropdown .icon {
  cursor: pointer;
}

.meta-toggle {
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin: auto 0 !important;
  vertical-align: middle;
  flex: 1;
}

#meta-button {
  margin: 0;
  padding: 10px 12px;
  width: 120px;
  background: #f0f0f0;
  border-radius: 0.25rem;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(124, 124, 124, 0.12), 0 1px 2px rgba(124, 124, 124, 0.24);
}
#meta-button:hover {
  background: #e0e0e0 !important;
}

#meta-button.active:hover {
  background: #11a3c4 !important;
}

#meta-button.active {
  background-color: #14b7db !important;
  color: white !important;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  box-shadow: 0 1px 3px rgba(124, 124, 124, 0.12), 0 1px 2px rgba(124, 124, 124, 0.24) !important;
}

#header-meta {
  max-width: 100%;
  height: 24px;
  margin: 8px 0 0 0;
  padding: 0 16px 0 16px;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 8px #f0f1f2;
  position: absolute;
  width: calc(50% - 20px);
  left: 10px;
}

.label-bar {
  height: 24px;
  width: 100%;
}

.selection-meta {
  height: 24px;
  width: 100%;
  display: flex;
}

.meta-datum {
  display: flex;
  margin: auto 0;
  padding: 0 8px;
  font-size: 0.8em !important;
}

.meta-datum:not(:last-child) {
  border-right: 1px solid #f0f0f0;
}

.meta-datum#feature-name {
  max-width: 400px;
}
.meta-datum#feature-type {
  max-width: 200px;
}

.meta-datum:hover {
  background-color: rgb(255, 251, 196);
}

.meta-datum p {
  margin-bottom: 0;
}

.meta-datum #field {
  margin-right: 8px;
  font-weight: bold;
}

.meta-datum #value {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
