html,
body,
#app-root,
#app-root > div {
  height: 100%;
}

#part-explorer {
  height: 100%;
  .seq-viewers-container {
    display: flex;
    height: inherit;
  }
}

label {
  width: 100%;
  font-weight: 400;
}

.select {
  background-color: transparent;
  outline: none;
  font-size: 13px;
  height: 30px;
  width: 168px;
  padding-left: 5px;
  border: 1px solid #bebebe;
  padding: 5px 10px;
  color: black;
  float: right;
}

.scroll::-webkit-scrollbar {
  width: 7px;
}

.scroll::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 7px;
  background-color: #a6a6a6;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  border-radius: 7px;
  background-color: #ececec;
}

// done to prevent the text from being highlighted in the sequence viewer
svg text {
  user-select: none;
  fill: #2a2a2a;
  font-family: Roboto Mono, Monaco, monospace;
}

svg text::selection {
  background: none;
}

html,
body {
  overscroll-behavior: none;
}
