// Roboto, Roboto-Mono and Amiko fonts from Google
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Muli:200,300,400,600|Open+Sans|Roboto:100,100i,300,300i,400,500");
// full document
html,
body {
  background-color: #f7f7f7;
  box-sizing: border-box;
  height: 100%;
  font-family: "Roboto", sans-serif;
  position: fixed;
  width: 100%;
  margin: 0 !important;
  color: #606060;
  overscroll-behavior: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#react-root {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 35px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1.43px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

// done to prevent the text from being highlighted in the sequence viewer
svg text {
  user-select: none;
  fill: #2a2a2a;
  font-family: Roboto Mono, Monaco, monospace;
}

svg text::selection {
  background: none;
}

.btn[disabled] {
  cursor: default;
}

input[type="checkbox"] {
  cursor: pointer;
}

button {
  font-weight: 400;
  outline: none !important;
}

.default {
  border: 1px solid #a8a8a8;
  color: #65ccff;
  border-radius: 3px;
  padding: 6px 16px;
  background-color: transparent;
  &:hover {
    background-color: rgba(39, 195, 233, 0.08);
  }
}

button.small {
  padding: 3px 8px;
  font-size: 12px;
  margin-left: 5px;
}
