@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500&display=swap");

/* Shared/common settings */
.la-vz-seqviz {
  height: 100%;
  width: 100%;
}

.la-vz-seqviz svg {
  overflow: visible;
}

.la-vz-seqviz svg text {
  fill: #2a2a2a;
  font-family: Roboto Mono, Monaco, monospace;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.la-vz-seqviz svg text:selection {
  background: none;
}

.la-vz-viewer-container {
  display: flex;
  flex-direction: row;
}

.la-vz-viewer-container,
.la-vz-viewer {
  height: 100%;
  width: 100%;
  position: relative;
}

.la-vz-viewer-event-router {
  position: absolute;
  outline: none;
  height: 100%;
  width: inherit;
}

.la-vz-search {
  fill: rgba(255, 251, 7, 0.5);
}

.la-vz-highlight {
  fill: rgba(255, 251, 7, 0.25);
}

.la-vz-selection {
  fill: #def6ff;
}

.la-vz-cut-site {
  fill: transparent;
  stroke: black;
  stroke-width: 1;
  shape-rendering: auto;
}

.la-vz-cut-site-text {
  font-size: 13px;
  cursor: pointer;
}

/* Circular Viewer */
.la-vz-viewer-circular {
  margin: auto;
  font-size: 13px;
  font-weight: 300;
}

.la-vz-circular-bps {
  cursor: text;
}

.la-vz-circular-label {
  cursor: pointer;
}

.la-vz-circular-label:hover {
  text-decoration: underline;
}

.la-vz-label-line {
  stroke: #9eaab8;
  stroke-width: 1;
  fill: none;
}

/* Linear Viewer */
.la-vz-linear-scroller {
  height: 100%;

  outline: none !important;
  position: relative;
  font-weight: 300;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: text;
}

.la-vz-seqblock-container {
  width: 100%;
}

.la-vz-seqblock {
  width: 100%;
  padding: 0;
  /* this is for when very zoomed out and the bp index disappears beneath the next block */
  overflow: visible;
}

.la-vz-scroll::-webkit-scrollbar {
  width: 7px;
}

.la-vz-scroll::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 7px;
  background-color: #a6a6a6;
}

.la-vz-scroll::-webkit-scrollbar-track {
  border-radius: 20px;
}

.la-vz-scroll::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  border-radius: 7px;
  background-color: #ececec;
}
