@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500&display=swap");

/* Shared/common settings */
.la-vz-seqviz {
  height: 100%;
  width: 100%;
}

.la-vz-seqviz svg {
  overflow: visible !important;
}

.la-vz-seqviz svg text {
  fill: rgb(42, 42, 42);
  font-family: Roboto Mono, Monaco, monospace;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.la-vz-seqviz svg text:selection {
  background: none;
}

.la-vz-viewer-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.la-vz-viewer-event-router {
  display: flex;
  flex-direction: row;
  height: 100%;
  outline: none;
  position: absolute;
  width: 100%;
}

.la-vz-search {
  fill: rgba(255, 251, 7, 0.5);
}

.la-vz-highlight {
  fill: rgba(255, 251, 7, 0.25);
}

.la-vz-selection {
  fill: rgb(222, 246, 255);
}

.la-vz-selection-edge {
  fill: black;
  stroke: black;
  shape-rendering: geometricPrecision;
}

.la-vz-cut-site {
  fill: transparent;
  shape-rendering: auto;
  stroke-width: 1;
  stroke: rgb(115, 119, 125);
}

.la-vz-cut-site-highlight {
  cursor: pointer;
  fill: rgb(255, 251, 7);
  fill-opacity: 0;
  shape-rendering: auto;
  stroke-width: 1;
  stroke: rgb(115, 119, 125);
}

.la-vz-cut-site-text {
  cursor: pointer;
  font-size: 12px;
}

.la-vz-index-line {
  fill: transparent;
  shape-rendering: geometricPrecision;
  stroke-width: 1;
  stroke: rgb(115, 119, 125);
}

.la-vz-index-tick {
  fill: transparent;
  shape-rendering: geometricPrecision;
  stroke-width: 1;
  stroke: rgb(115, 119, 125);
}

.la-vz-index-tick-label {
  fill: rgb(115, 119, 125);
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.la-vz-annotation {
  fill-opacity: 0.7;
  shape-rendering: geometricPrecision;
  stroke-width: 0.5;
}

.la-vz-annotation-label {
  color: rgb(42, 42, 42);
  font-weight: 400;
  shape-rendering: geometricPrecision;
  stroke-linejoin: round;
  text-rendering: optimizeLegibility;
}

.la-vz-translation-amino-acid-label {
  color: rgb(42, 42, 42);
  font-size: 12px;
  font-weight: 400;
}

/* Circular Viewer */
.la-vz-viewer-circular {
  cursor: text;
  font-size: 12px;
  font-weight: 300;
  margin: auto;
}

.la-vz-circular-label {
  cursor: pointer;
}

.la-vz-circular-label:hover {
  text-decoration: underline;
}

.la-vz-label-line {
  fill: none;
  stroke-width: 1;
  stroke: rgb(158, 170, 184);
}

/* Linear Viewer */
.la-vz-linear-scroller {
  cursor: text;
  font-weight: 300;
  height: 100%;
  outline: none !important;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  position: relative;
}

.la-vz-seqblock-container {
  width: 100%;
}

.la-vz-seqblock {
  width: 100%;
  padding: 0;
  /* this is for when very zoomed out and the bp index disappears beneath the next block */
  overflow: visible;
}

.la-vz-scroll::-webkit-scrollbar {
  width: 7px;
}

.la-vz-scroll::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgb(166, 166, 166);
  border-radius: 7px;
}

.la-vz-scroll::-webkit-scrollbar-track {
  border-radius: 20px;
}

.la-vz-scroll::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: rgb(236, 236, 236);
  border-radius: 7px;
}
