@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500&display=swap");

.la-vz-seqviz {
  height: 100%;

  svg text {
    user-select: none; // done to prevent the text from being highlighted in the sequence viewer
    fill: #2a2a2a;
    font-family: Roboto Mono, Monaco, monospace;
  }

  svg text::selection {
    background: none;
  }

  .la-vz-seqviz-container {
    display: flex;
    height: inherit;
  }
}

.la-vz-scroll::-webkit-scrollbar {
  width: 7px;
}

.la-vz-scroll::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 7px;
  background-color: #a6a6a6;
}

.la-vz-scroll::-webkit-scrollbar-track {
  border-radius: 20px;
}

.la-vz-scroll::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  border-radius: 7px;
  background-color: #ececec;
}
