.la-vz-circular-viewer {
  margin: auto;
  font-size: 13px;
  font-weight: 400;
}

.la-vz-circular-bps {
  cursor: text;
}

.la-vz-label-line {
  stroke: #9eaab8;
  stroke-width: 1;
  fill: none;
}

.la-vz-circular-label {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
